<div class="container">
    <h1 class="title">Materias</h1>
    <table class="table is-fullwidth">
        <thead>
            <th>Materia</th>
            <th>Horario</th>
            <th>Grupos</th>
            <th>Más</th>
        </thead>
        <tbody>
          <tr *ngFor="let m of materias">
            <td>{{m.nombre}}</td>
            <td >
              <p *ngFor= "let h of m.horario">
                {{h.dia}}--{{h.hora}}
              </p>
            </td>
            <td >
              <p *ngFor= "let g of m.grupos">
                {{g.nombre}}
              </p>
              
            </td>
            <td>
              <button class="button is-primary" routerLink= "{{m.id}}">Detalles</button>
            </td>
          </tr>
          
        </tbody>
      </table>
      <!-- <h1 class="title">Grupos</h1> -->
      <!-- <table class="table is-fullwidth">
          <thead>
              <th>Grupos</th>
          </thead>
          <tbody>
            <tr *ngFor="let g of grupos">
              <td>{{g.nombre}}</td>
            </tr>
          </tbody>
        </table> -->
</div>
