<div class="container">
    <h1 class="title is- has-text-centered">Alumnos</h1>

    <table class="table is-fullwidth">
        <thead>
            <th>Nombre</th>
            <th *ngFor  = "let m of materias">{{m.nombre}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let a of alumnos">
            <td>{{a.alumno.nombre}}</td>
          
            <td *ngFor = "let cal of a.calFinal" >
              {{cal}}
            </td>
          </tr>
          
        </tbody>
      </table>
</div>