<div class="container">
    <h1 class="title is-1 has-text-centered">Preguntas Frecuentes</h1>
    <div class="columns is-desktop">
        <div class="column is-5 preguntas">
            <p class="subtitle is-4">¿Puedo presentar mis exámenes a través de la plataforma?</p>
            <p>Por el momento, debido a la modalidad semi-presencial deberás acudir al plantel para presentar cualquier
                tipo
                de
                evaluación.
                Puedes consultar tu calendario para verificar las fechas en las que puedes presentarte.</p>

            <p class="subtitle is-4">¿Puedo presentar mis exámenes a través de la plataforma?</p>
            <p>Por el momento, debido a la modalidad semi-presencial deberás acudir al plantel para presentar cualquier
                tipo
                de
                evaluación.
                Puedes consultar tu calendario para verificar las fechas en las que puedes presentarte.</p>

            <p class="subtitle is-4">¿Puedo presentar mis exámenes a través de la plataforma?</p>
            <p>Por el momento, debido a la modalidad semi-presencial deberás acudir al plantel para presentar cualquier
                tipo
                de
                evaluación.
                Puedes consultar tu calendario para verificar las fechas en las que puedes presentarte.</p>

            <p class="subtitle is-4">¿Puedo presentar mis exámenes a través de la plataforma?</p>
            <p>Por el momento, debido a la modalidad semi-presencial deberás acudir al plantel para presentar cualquier
                tipo
                de
                evaluación.
                Puedes consultar tu calendario para verificar las fechas en las que puedes presentarte.</p>

                
        </div>

        <div class="column is-5">
          <figure class="image">
            <img src="/assets/images/faqs.png">
        </figure>

        </div>
    </div>

</div>