<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://lh4.googleusercontent.com/proxy/2clVJMgqDiBWAjN8Bxk7BgW6Jd5g32slnzzgknLbA85_ZT9Y4a4BaR62ikPJN59McgLkE6iBkelC2FHbRLNWfCcotvFLGbzaymFq24CFEt60BEw"
                width="" height="">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarItems"
            #menuHamburger (click)="toggleNavbar()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" #navbarItems>
        <div class="navbar-start">
            <!-- MOBILE MENU OPCIONES ESTUDIANTE -->
            <div *ngIf="user && rol === 'isStudent'">
                <p class="navbar-item">
                    {{greeting}} {{user.userName}}
                </p>

                <a class="navbar-item" [routerLink]="['dashboard']" routerLinkActive="active-link"
                    (click)="toggleNavbarNo()">
                    <span><i class="fas fa-tachometer-alt"></i></span> Dashboard
                </a>

                <a class="navbar-item" [routerLink]="['clases-en-vivo']" routerLinkActive="active-link"
                    (click)="toggleNavbarNo()">
                    <span><i class="fas fa-video"></i></span> Clases en vivo
                </a>

                <a class="navbar-item" [routerLink]="['clases-grabadas']" routerLinkActive="active-link"
                    (click)="toggleNavbarNo()">
                    <span><i class="fas fa-video"></i></span> Clases grabadas
                </a>

                <a class="navbar-item" routerLink="/calendario" (click)="toggleNavbarNo()">
                    <span><i class="fas fa-calendar-alt"></i></span> Calendario
                </a>

                <a class="navbar-item" routerLink="/clases-en-vivo" (click)="toggleNavbarNo()">
                    <span><i class="fas fa-pencil-alt"></i></span> Tareas
                </a>
                <a class="navbar-item" routerLink="/faqs" (click)="toggleNavbarNo()">
                    <span><i class="fas fa-question"></i></span> Faqs
                </a>

            </div>

            <!-- MOBILE MENU OPCIONES PROFESOR -->
            <div *ngIf="user && rol === 'isTeacher'">
                <p class="navbar-item">
                    {{greeting}} profesor {{user.userName}}
                </p>
                <a class="navbar-item" (click)="toggleNavbarNo()" routerLink="/materias">
                    <span><i class="fas fa-chalkboard"></i></span> Materias
                </a>

                <a class="navbar-item" (click)="toggleNavbarNo()" routerLink="/dashboard">
                    <span><i class="fas fa-video"></i></span> Transmitir clase
                </a>

                <a class="navbar-item" (click)="toggleNavbarNo()" routerLink="/dashboard">
                    <span><i class="fas fa-upload"></i></span> Subir clase
                </a>
            </div>

            <!-- MOBILE MENU OPCIONES DIRECTIVO -->
            <div *ngIf="user && rol === 'isAdmin'">
                <p class="navbar-item">
                    {{greeting}} {{user.userName}}
                </p>
                <a class="navbar-item" (click)="toggleNavbarNo()" routerLink="/" routerLink="/">
                    <span><i class="fas fa-chalkboard-teacher"></i></span> Profesores
                </a>

                <a class="navbar-item" (click)="toggleNavbarNo()" routerLink="/" routerLink="/">
                    <span><i class="fas fa-users"></i></span> Estudiantes
                </a>

            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary is-fullwidth" (click)="logOut()">
                        <span><i class="fas fa-sign-out-alt"></i></span> Cerrar sesión
                    </a>
                    <button class="button is-primary is-fullwidth" (click)="cambio()" *ngIf="!darkMode"> <i
                            class="fas fa-moon"></i>
                    </button>
                    <button class="button is-dark is-fullwidth" (click)="cambio()" *ngIf="darkMode"> <i
                            class="fas fa-sun"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>