<!-- En vivo -->
<div class="container">
  <h1 class="title is-2 has-text-centered">Contenido grabado</h1>
  <div class="grid">
    <div class="cards" *ngFor="let materia of materias">
      <div class="card-image"></div>
      <div class="card-content">
        <div class="content">
          <p class="title is-5">{{ materia.nombre }}</p>
        </div>

        <a class="button is-primary is-fullwidth" routerLink="{{ materia.id }}">
          Ir a contenido
        </a>
      </div>
    </div>
  </div>
</div>
