.container{
    padding: 10%;
    min-height: 100vh;
}

.tabs {
    padding-top: 10%;
    font-weight: bold;
    font-size: 30px;

    a {
        text-decoration-color: var(--primary-color) !important;
        color: var(--font-color);
    }
}

    .tarea{
        display: block;
        margin-top: 50px;
        border: 2px solid var(--font-color);
        padding: 20px;
    }

    .proyecto{
        display: block;
        margin-top: 50px;
        border: 2px solid var(--font-color);
        padding: 20px;
    }



.label {
    color: black !important;
}

table{
    background-color: var(--background);
    color: var(--font-color);
}
th{
    color: var(--font-color)!important;
}

.mr{
    margin-right: 10px;
}


