<!-- En vivo -->
<div class="container">
  <h1 class="title is-2" style="margin-left: 10px; margin-top: 15px;">
    En vivo
  </h1>
  <div class="grid">
    <div class="card" *ngFor="let materia of materias">
      <div class="card-image"></div>
      <div class="card-content">
        <div class="content">
          <p class="title is-5">{{ materia.nombre }}</p>
        </div>

        <a
          class="button is-primary is-fullwidth"
          (click)="iniciarStream(materia.id)"
          routerLink="/clases-en-vivo/{{ materia.id }}"
        >
          Iniciar Stream
        </a>
      </div>
    </div>
  </div>
</div>
