.container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    min-height: 100vh;
}

.container-table{
    margin-top: 20px;
    max-width: 700px;
}


.ml{
    margin-left: 5px;
}