<app-navbar id="navbar" *ngIf="(isLogin | async)"></app-navbar>
<div class="columns">
    <div class="column" id="menu" *ngIf="(isLogin | async)">
        <aside class="menu">

            <!-- Profile pic -->

            <figure class="image is-128x128">
                <img src="https://ps.w.org/ultimate-member/assets/icon-256x256.png?rev=2143339" alt="Profile picture">
            </figure>

            <!-- Finish profile pic -->

            <!-- Menu options -->
            <ul class="menu-list">
                <li><a routerLink="/">Dashboard</a></li>
                <li><a routerLink="/clases-en-vivo">Clases en vivo</a></li>
                <li><a routerLink="/">Calendario</a></li>
                <li><a routerLink="/">Tareas</a></li>
                <li><a (click)="logOut()">Cerrar sesión</a></li>
            </ul>
            <!-- Finish Menu options -->

        </aside>
    </div>
    <div class="column">
        <div class="">
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>