#menu {
  min-height: 100vh;
  height: auto;
  width: 20vw !important;
  max-width: 20vw !important;
  background-color: var(--primary-color);
  .menu-list a {
    color: white;
  }
  .menu-list a:hover {
    color: black ;
  }
}
#navbar {
  display: none;
}
.image {
  /* Margin top and botttom 30, left and right auto to center the image*/
  margin: 25px auto;
  img {
    border-radius: 50% 50%;
  }
}
.user{
  margin-bottom: 25px;
}

.active-link {
  color: black!important;
  font-weight: 800;
  background-color: white;
}


@media (max-width: 1024px) {
  #menu {
    display: none;
  }
  #navbar {
    display: block;
  }
}
