<app-navbar id="navbar" *ngIf="(isLogin | async)"></app-navbar>
<div class="columns">
    <div class="column" id="menu" *ngIf="(isLogin | async)">
        <aside class="menu">

            <!-- Profile pic -->
            <figure class="image is-128x128">
                <img src="https://ps.w.org/ultimate-member/assets/icon-256x256.png?rev=2143339" alt="Profile picture">
            </figure>
            <div class="user has-text-centered has-text-white">
                <p class="is-size-5"><span class="is-size-6">{{greeting}},</span> {{user?.userName}}</p>
                <button class="button is-primary" (click)="cambio()" *ngIf="!darkMode"> <i class="fas fa-moon"></i>
                </button>
                <button class="button is-dark" (click)="cambio()" *ngIf="darkMode"> <i class="fas fa-sun"></i> </button>
            </div>
            <!-- Finish profile pic -->

            <!-- Menu options -->
            <ul class="menu-list">
                <li><a [routerLink]="['dashboard']" routerLinkActive="active-link">
                        <span><i class="fas fa-tachometer-alt"></i></span> Dashboard
                    </a></li>
                <li><a [routerLink]="['clases-en-vivo']" routerLinkActive="active-link">
                        <span><i class="fas fa-video"></i></span> Clases en vivo</a></li>
                        <li><a [routerLink]="['clases-grabadas']" routerLinkActive="active-link">
                            <span><i class="fas fa-video"></i></span> Clases grabadas</a></li>
                <li><a routerLink="/">
                        <span><i class="fas fa-calendar-alt"></i></span> Calendario</a></li>
                <li><a routerLink="/">
                        <span><i class="fas fa-pencil-alt"></i></span> Tareas</a></li>
                <li><a routerLink="/faqs">
                        <span><i class="fas fa-question"></i></span> Faqs</a></li>
                <li><a (click)="logOut()">
                        <span><i class="fas fa-sign-out-alt"></i></span> Cerrar sesión</a></li>
            </ul>
            <!-- Finish Menu options -->

        </aside>
    </div>
    <div class="column">
        <div class="">
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>