<!-- En vivo -->
<div class="container">
  <h1 class="title is-2">En vivo</h1>
  <h2 class="title is-5">En este sección aparecerán las secciones en vivo activas </h2>
    <div class="grid">
        <h2 *ngIf="materias.length < 1" class="title is-5">Por el momento no hay clases en vivo</h2>
        <div *ngFor="let materia of materias">
            <div class="cards" *ngIf="materia.envivo">
              <div class="card-image"></div>
              <div class="card-content">
                <div class="content">
                  <p class="title is-5">{{ materia.nombre }}</p>
        
                  <div class="has-text-left">
                    <time datetime="2016-1-1">En vivo ahora</time>
                  </div>
                </div>
        
                <a class="button is-primary is-fullwidth" routerLink="{{ materia.id }}">
                  Unirse
                </a>
              </div>
            </div>
          </div>
    </div>
  
</div>
