<div class="container">
    <div class="">
        <a class="button is-primary is-fullwidth" routerLink="/clases-en-vivo">
            Volver
        </a>
    </div>
    <div class="columns">
        <div class="column is-12-mobile is-8-desktop is-12-tablet">
            <div class="subject-box">
                <div class="video">
                    <video  autoplay="true">
                        <source src="{{subjectElement.video}}"
                                type="video/mp4">
                    </video>
                    
                </div>
                <div class="titles">
                    <h2> <span class="title is-5">{{subjectElement.name}}</span> - {{subjectElement.teacher}}</h2>
                </div>
            </div>
        </div>
        <div class="column is-4 is-12-tablet is-4-desktop">
            <div class="chat">
                <div  *ngFor= "let m of chat">
                    <p> <strong>{{m.usuario}}: </strong> {{m.mensaje}} </p>
                </div>
            </div>
            <div class="mensaje">
                <input class="input" type="text" placeholder="Mensaje">
            </div>
        </div>
    </div>
</div>