<div class="container">
    <div class="">
        <a class="button is-primary is-fullwidth" routerLink="/clases-en-vivo">
            Volver
        </a>
    </div>
    <div class="columns">
        <div class="column is-12-mobile is-8-desktop is-12-tablet">
            <div class="subject-box">
                <div class="video">

                </div>
                <div class="titles">
                    <h2> <span class="title is-5">{{subjectElement.name}}</span> - {{subjectElement.teacher}}</h2>
                </div>
            </div>
        </div>
        <div class="column is-4 is-12-tablet is-4-desktop">
            <div class="chat">
                <p>aquí el chat 1</p>
                <p>aquí el chat 2</p>
                <p>aquí el chat 3</p>
                <p>aquí el chat 4</p>
                <p>aquí el chat 5</p>
                <p>aquí el chat 6</p>
                <p>aquí el chat 7</p>
                <p>aquí el chat 8</p>
                <p>aquí el chat 9</p>
                <p>aquí el chat 10</p>
                <p>aquí el chat 11</p>
                <p>aquí el chat 12</p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
                <p>aquí el chat </p>
            </div>
            <div class="mensaje">
                <input class="input" type="text" placeholder="Mensaje">
            </div>
        </div>
    </div>
</div>