.subject-box {
  margin: 10px;
}
.titles {
  margin-top: 10px;
}
.video {
  height: 450px;
  background-color: grey;
}
.chat {
  margin: 10px 0px 0px 10px;
  padding: 10px 0 0 10px;
  min-height: 540px;
  max-height: 540px;
  width: auto;
  background-color: black;
  overflow-y: scroll;
  color: white;
}
.mensaje {
  position: relative;
  right: 0;
  padding: 1px 10px;
  width: 100%;
}
.mensaje input {
  width: 70%;
  margin-right: 10px;
}
.encabezado {
  margin: 30px 10px;
}
@media (max-width: 768px) {
  .chat {
    margin: 10px 0px 0px 10px;
    padding: 10px 0 0 10px;
    min-height: 35vh;
    max-height: 240px;
    background-color: black;
  }
}
video::-webkit-media-controls-play-button {
  display: none;
}
video::-webkit-media-controls-timeline {
  display: none;
}
video::-webkit-media-controls-current-time-display {
  display: none;
}
video::-webkit-media-controls-time-remaining-display {
  display: none;
}
