<div class="container">
    <h1 class="title is-size-1 has-text-centered">UT-ONLINE</h1>
    <div class="columns  is-desktop ">

        <div class="card column is-two-fifths is-primary">
            <div class="card-content has-text-centered ">
                <p class="title">
                    {{user.userName}}
                </p>
                <p class="subtitle">
                    {{user.carrera}}
                </p>
                <p class="subtitle">
                    {{user.schoolId}}
                </p>
            </div>
        </div>

        <div class="card column is-two-fifths is-primary">
            <div class="card-content has-text-centered  ">
                <p class="title">
                    {{user.group}}
                </p>
                <p class="subtitle">
                    {{user.edificio}}
                </p>
                <p class="subtitle">
                    {{user.cuatrimestre}}
                </p>
                <p class="subtitle">
                    {{user.tutor}}
                </p>
            </div>
        </div>
    </div>
    <div class=" has-text-centered">
        <button class="button is-primary  is-large" (click)="openModal()">¿Que puedo hacer en la
            plataforma?</button>

    </div>



    <!--Modal de registro-->
    <div *ngIf="modal=== true" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Ayuda</p>
                <button class="delete" aria-label="close" (click)="closeModal()"></button>
            </header>

            <section class="modal-card-body">
                <div class="steps" id="stepsDemo">
                    <div class="step-item is-active is-success">
                      <div class="step-marker">1</div>
                      <div class="step-details">
                        <p class="step-title">Account</p>
                      </div>
                    </div>
                    <div class="step-item">
                      <div class="step-marker">2</div>
                      <div class="step-details">
                        <p class="step-title">Profile</p>
                      </div>
                    </div>
                    <div class="step-item">
                      <div class="step-marker">3</div>
                      <div class="step-details">
                        <p class="step-title">Social</p>
                      </div>
                    </div>
                    <div class="step-item">
                      <div class="step-marker">4</div>
                      <div class="step-details">
                        <p class="step-title">Finish</p>
                      </div>
                    </div>
                    <div class="steps-content">
                      <div class="step-content has-text-centered is-active">
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Username</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input class="input" name="username" id="username" type="text" placeholder="Username" autofocus data-validate="require">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Password</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control has-icon has-icon-right">
                                <input class="input" type="password" name="password" id="password" placeholder="Password" data-validate="require">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Confirm password</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control has-icon has-icon-right">
                                <input class="input" type="password" name="password_confirm" id="password_confirm" placeholder="Confirm password" data-validate="require">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="step-content has-text-centered">
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Firstname</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input class="input" name="firstname" id="firstname" type="text" placeholder="Firstname" autofocus data-validate="require">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Last name</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control has-icon has-icon-right">
                                <input class="input" type="text" name="lastname" id="lastname" placeholder="Last name" data-validate="require">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Email</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control has-icon has-icon-right">
                                <input class="input" type="email" name="email" id="email" placeholder="Email" data-validate="require">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="step-content has-text-centered">
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Facebook account</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input class="input" name="facebook" id="facebook" type="text" placeholder="Facebook account url" autofocus data-validate="require">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Twitter account</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input class="input" name="twitter" id="twitter" type="text" placeholder="Twitter account url" autofocus data-validate="require">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="step-content has-text-centered">
                        <h1 class="title is-4">Your account is now created!</h1>
                      </div>
                    </div>
                    <div class="steps-actions">
                      <div class="steps-action">
                        <a  data-nav="previous" class="button is-light">Previous</a>
                      </div>
                      <div class="steps-action">
                        <a data-nav="next" class="button is-light">Next</a>
                      </div>
                    </div>
                  </div>
                <figure class="image">
                    <img src="/assets/images/options.png">
                </figure>
            </section>

            <footer class="modal-card-foot ">

            </footer>

        </div>
    </div>

</div>