<div class="container">
    <h1 class="title is- has-text-centered">Grupos</h1>

    <table class="table is-fullwidth">
        <thead>
            <th>Grupo</th>
            <th>Más</th>
        </thead>
        <tbody>
          <tr *ngFor="let g of grupos">
            <td>{{g.nombre}}</td>
          
            <td>
              <button class="button is-primary" routerLink= "{{g.id}}">Alumnos</button>
              <button class="button is-primary" routerLink= "/materiasAdd/{{g.id}}">Materias</button>
            </td>
          </tr>
          
        </tbody>
      </table>
</div>